
bin/Debug/net5.0/ref/SharedComponents.dll
bin/Debug/net5.0/SharedComponents.dll
bin/Debug/net5.0/SharedComponents.pdb
bin/Debug/net5.0/SharedComponents.StaticWebAssets.xml
obj/Debug/net5.0/Razor/_Imports.razor.g.cs
obj/Debug/net5.0/Razor/DropItem.razor.g.cs
obj/Debug/net5.0/Razor/DropZone.razor.g.cs
obj/Debug/net5.0/Razor/Item.razor.g.cs
obj/Debug/net5.0/RazorDeclaration/_Imports.razor.g.cs
obj/Debug/net5.0/RazorDeclaration/DropItem.razor.g.cs
obj/Debug/net5.0/RazorDeclaration/DropZone.razor.g.cs
obj/Debug/net5.0/RazorDeclaration/Item.razor.g.cs
obj/Debug/net5.0/RazorDeclaration/SharedComponents.dll
obj/Debug/net5.0/RazorDeclaration/SharedComponents.pdb
obj/Debug/net5.0/ref/SharedComponents.dll
obj/Debug/net5.0/SharedComponents.assets.cache
obj/Debug/net5.0/SharedComponents.csproj.AssemblyReference.cache
obj/Debug/net5.0/SharedComponents.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/SharedComponents.csproj.FileListAbsolute.txt
obj/Debug/net5.0/SharedComponents.dll
obj/Debug/net5.0/SharedComponents.pdb
obj/Debug/net5.0/SharedComponents.RazorComponent.input.cache
obj/SharedComponents.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/Debug/net5.0/staticwebassets/SharedComponents.StaticWebAssets.xml
obj/Debug/net5.0/staticwebassets/SharedComponents.StaticWebAssets.Manifest.cache
obj/Debug/net5.0/SharedComponents.TagHelpers.output.cache
obj/Debug/net5.0/SharedComponents.RazorCoreGenerate.cache
obj/Debug/net5.0/SharedComponents.RazorComponent.input.cache
obj/Debug/net5.0/SharedComponents.pdb
obj/Debug/net5.0/SharedComponents.dll
obj/Debug/net5.0/SharedComponents.csproj.FileListAbsolute.txt
obj/Debug/net5.0/SharedComponents.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/SharedComponents.csproj.AssemblyReference.cache
obj/Debug/net5.0/SharedComponents.assets.cache
obj/Debug/net5.0/ref/SharedComponents.dll
obj/Debug/net5.0/RazorDeclaration/SharedComponents.pdb
obj/Debug/net5.0/RazorDeclaration/SharedComponents.dll
obj/Debug/net5.0/RazorDeclaration/Item.razor.g.cs
obj/Debug/net5.0/RazorDeclaration/DropZone.razor.g.cs
obj/Debug/net5.0/RazorDeclaration/_Imports.razor.g.cs
obj/Debug/net5.0/Razor/Item.razor.g.cs
obj/Debug/net5.0/Razor/DropZone.razor.g.cs
obj/Debug/net5.0/Razor/_Imports.razor.g.cs
bin/Debug/net5.0/SharedComponents.StaticWebAssets.xml
bin/Debug/net5.0/SharedComponents.pdb
bin/Debug/net5.0/SharedComponents.dll
bin/Debug/net5.0/ref/SharedComponents.dll
