<div class="dropZone @Class" @ref="@_dropZone" @ondragover:preventDefault @ondrop:preventDefault @ondrop:stopPropagation @ondragover="dragOver" @ondrop="onDrop">
	@*@if (_items != null && _items.Any())
	{
		@foreach (var item in _items)
		{
			<div class="col-6">
				<DropItem Item="@item" />
			</div>
		}
	}*@
</div>

@code{
	[Parameter]
	public string Class { get; set; }
	[Parameter]
	public IEnumerable<DraggableItem> Items { get; set; }
	[Parameter]
	public EventCallback<DraggableItem?> DragOver { get; set; }
	[Parameter]
	public EventCallback<DraggableItem?> DragLeave { get; set; }
	[Parameter]
	public EventCallback<DraggableItem> Drop { get; set; }

	private ElementReference _dropZone;
	private IEnumerable<DraggableItem> _items;

	protected override async Task OnInitializedAsync()
	{
		_items = Items ??= new List<DraggableItem>();

		await base.OnInitializedAsync();
	}

	private void dragOver()
	{
		DragOver.InvokeAsync();
	}

	private void dragLeave()
	{
		DragLeave.InvokeAsync();
	}

	private void onDrop()
	{
		var items = _items.ToList();

		items.Add(Service.CurrentItem);

		_items = items;

		Drop.InvokeAsync(Service.CurrentItem);
	}
}