@if (Item != null)
{
	<div class="draggable-item @Class" draggable="@(Item.IsDraggable.ToString().ToLower())" @ondragstart="onDragStart">
		<h3>@Item.Title</h3>
	</div>
}

@code {
	[Parameter]
	public DraggableItem Item { get; set; }
	[Parameter]
	public string Class { get; set; }
	[Parameter]
	public EventCallback<DraggableItem> OnDragStart { get; set; }

	private void onDragStart()
	{
		Service.SetCurrentItem(Item);

		OnDragStart.InvokeAsync();
	}
}
