@if (Item != null)
{
	<div class="draggable-item @Class" draggable="@(Item.IsDraggable.ToString().ToLower())" @ondragstart="onDragStart" @ondrop:preventDefault @ondrop:stopPropagation @ondrop="onDrop">
		<h3>@Item.Title</h3>
	</div>
}

@code {
	[Parameter]
	public DraggableItem Item { get; set; }
	[Parameter]
	public string Class { get; set; }
	[Parameter]
	public EventCallback<DraggableItem> OnDragStart { get; set; }
	[Parameter]
	public EventCallback<DraggableItem> OnDrop { get; set; }

	private void onDragStart()
	{
		OnDragStart.InvokeAsync();
	}

	private void onDrop() => OnDrop.InvokeAsync();
}
