@if (Item != null)
{
	<div class="draggable-item @_isDraggable" draggable="@(IsDraggable.ToString().ToLower())" @ondragstart="onDragStart">
		<h3>@Item.Title</h3>
	</div>
}

@code {
	[Parameter]
	public DraggableItem Item { get; set; }
	[Parameter]
	public bool IsDraggable { get; set; }
	[Parameter]
	public EventCallback<DraggableItem> OnDrag { get; set; }
	[Parameter]
	public EventCallback<DraggableItem> OnDrop { get; set; }

	private bool _isDraggable => (IsDraggable.ToString().ToLower == "true")

	private void onDragStart()
	{
		Service.SetCurrentItem(Item);

		var meh = Service.CurrentItem;

		var a = meh;
	}
}
