@inject IDragAndDropService DragAndDropService

@if (Item != null)
{
	<div class="draggable-item @Class" draggable="@(Item.IsDraggable.ToString().ToLower())" @ondragstart="onDragStart" @ondrop:preventDefault @ondrop:stopPropagation>
		<h3>@Item.Title</h3>
	</div>
}

@code {
	[Parameter]
	public DragAndDropItem Item { get; set; }
	[Parameter]
	public string Class { get; set; }
	[Parameter]
	public EventCallback<DragAndDropItem> OnDragStart { get; set; }

	private void onDragStart()
	{
		DragAndDropService.CurrentItem = Item;

		OnDragStart.InvokeAsync();
	}
}